.kanban {
	display: flex;
	padding: 30px;
	width: 750px;
	background: #009578;
	border-radius: 5px;
}

.kanban * {
	font-family: sans-serif;
}

.kanban__column {
	flex: 1;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	padding: 15px;
}

.kanban__column:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.05);
}

.kanban__column:not(:last-child) {
	margin-right: 30px;
}

.kanban__column-title {
	margin-bottom: 20px;
	font-size: 30px;
	color: white;
	user-select: none;
}

.kanban__item {
    position: relative;
    margin-bottom: 15px;
}

.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: #f0f0f0;
	border-radius: 5px;
	cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kanban__item-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
}

.kanban__item:hover .kanban__item-delete {
    display: block;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}